fastapi
pydantic
httpx
sqlalchemy
pgvector
python-dotenv
openai
cohere
spacy
tqdm
logfire
pydantic-ai
pillow
pytesseract
numpy
streamlit
requests
psycopg2-binary
uvicorn
PyPDF2
pdfplumber
pdf2image
tabulate
langdetect
# nl-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.7.0/nl_core_news_sm-3.7.0-py3-none-any.whl
